// Component - Channel Featured Video

.channel-header {
  background-position: top center;
  background-repeat: no-repeat;
  margin: $space-large 0;
  padding-top: $space-large;
  text-align: left;

  img {
    margin: 0 $space-medium;
  }
}


// FEATURED VIDEO
.channel-featured-video {

  img {
    position: relative;
    width: 100%;
    z-index: $z-default;
  }

  h3 {
    color: $charcoal-grey;
    font-size: $font-large;
    font-weight: normal;
    line-height: $line-height-default;
    margin: $space-small 0;
    width: 100%;
  }
} 

.channel-featured-video-duration {
  background-color: $charcoal-grey;
  bottom: $space-tiny;
  color: $white;
  font-size: $font-small;
  line-height: $line-height-narrow;
  padding: $space-tiny;
  position: absolute;
  right: 30px;
  z-index: $z-low; 
}


.channel-featured-video-desc {
  color: $slate-grey;
}


.channel-featured-video-date {
  color: $carbon-grey;
}


.channel-featured-video-play {
  background: $white-transparent;
  border: 1px solid $pale-grey;
  border-radius: 60px;
  color: $white;
  height: 120px;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  text-align: center;
  top: 90px;
  width: 120px;
  z-index: $z-low;

  .glyphicon {
    color: $white;
    font-size: 80px;
    margin-left: $space-medium;
    margin-top: $space-msmall;
    opacity: .65;
  }

  &:hover {
    border: 1px solid $primary-color;
    color: $primary-color;

    .glyphicon {
      color: $primary-color;
    } 
  } 
}


.video-thumbnail a:hover .channel-featured-video-play {
  border: 1px solid $primary-color;
  color: $primary-color;

  .glyphicon {
    color: $primary-color;
  }
}
