// Component - Footer

footer {
  background-color: $dark-blue;
  bottom: 0;  
  color: $white;
  height: 60px; 
  position: absolute;
  width: 100%;

  > .container { 
    color: $white; 
    padding: $space-medium $space-small;
  }
}
