// Component - Global Styles

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: $smoke-grey;
  margin-bottom: $space-xlarge;

  >.container {
    padding: $space-xlarge $space-msmall 0;
  }
}

main {
  margin: $space-xlarge 0 $space-large;
}

a {
  color: $slate-grey;

  &:hover {
    color: $primary-color;
  }
}

.full-width {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
