// Component - Header

.navbar {
  background-color: $white;
  border-color: $pale-grey;  
  height: $space-xlarge;

  > li > a:focus, 
  > li > a:hover,
  > .active > a,
  > .active > a:focus, 
  > .active > a:hover {
    background: none; 
    color: $primary-color;
  }

  > .container .navbar-brand {
    margin: 0 $space-small 0 0;
    padding: $space-tiny;
  }
}

.navbar-nav > li {

  &.active > a {
    color: $primary-color;
  }

  > a {
    font-weight: bold;
    margin: 0;
    padding: $space-medium;
  }
}

.navbar-brand img {
  height: 48px;
}

.nav-item-borders a {
  border: 0 none;
  border-left: 1px solid $mid-grey;
  border-right: 1px solid $mid-grey; 
}

.nav-item-borders:last-child a {
  border: 0 none;
  border-right: 1px solid $mid-grey;
}
