// APP SETTINGS
// ***************************************
// * 1. COLOUR
// * 2. COLOUR - BLACK, WHITE AND GREY
// * 3. FONT
// * 4. TRANSPARENCY
// * 5. FORM ELEMENTS 
// * 6. LINE HEIGHT
// * 7. SPACING
// * 8. ZINDEX - LAYERS




// COLOUR  ( yes i know its american... )
$primary-color: #1f89c3;
$dark-blue: #0d5278;
$green: #207c20;  


// COLOUR BLACK, WHITE AND GREY
$white: #fff;
$smoke-grey: #f6f6f6;
$silver-grey: #f0f0f0;
$light-grey: #eee;
$mid-grey: #ddd;
$pale-grey: #ccc;
$carbon-grey: #999;
$slate-grey: #666;
$charcoal-grey: #333;
$black: #000;

// FONT 
$font-small: 12px;
$font-medsmall: 14px;
$font-medium: 16px;
$font-large: 30px;
$font-xlarge: 50px;

// TRANSPARENCY
$white-transparent: rgba(255, 255, 255, .3);

// FORM ELEMENTS
$form-element-height: 35px;


//LINE HEIGHT
$line-height-default: 140%;
$line-height-medium: 110%;
$line-height-narrow: 100%;


// SPACING
$space-tiny: 5px;
$space-small: 10px;
$space-msmall: 15px;
$space-medium: 20px;
$space-large: 40px;
$space-xlarge: 60px;


// ZINDEX
$z-default: 1;
$z-low: 2;
$z-mid: 5;
