// Component - Video Thumbnails

.video-tab-gallery .panel {
  min-height: 235px;
} 


.video-tab-gallery .panel-body {
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: $z-default;
} 


.video-thumbnail {
  color: $charcoal-grey;
  font-size: $font-medium;
  line-height: $line-height-default;
  position: relative;
  width: 100%;

  img {
    position: relative;
    width: $line-height-narrow;
    z-index: $z-default;
  }

  a:hover .video-thumbnail-play {
    border: 1px solid $primary-color;
    color: $primary-color;
  }

  a:hover .video-thumbnail-play .glyphicon {
    color: $primary-color;
  }
}


.video-thumbnail-duration {
  background-color: $charcoal-grey;
  border: 1px solid $slate-grey;
  border-radius: 3px;
  bottom: $space-tiny;
  color: $white;
  font-size: $font-small;
  line-height: $line-height-narrow;
  padding: $space-tiny;
  position: absolute;
  right: $space-small;
  z-index: $z-low; 
}


.video-thumbnail-play {
  background: $white-transparent;
  border: 1px solid $pale-grey;
  border-radius: $space-large;
  color: $white;
  height: 80px;
  left: 90px;
  position: absolute;
  top: 30px;
  width: 80px;
  z-index: $z-low; 

  &:hover {
    border: 1px solid $primary-color;
    color: $primary-color;

    .glyphicon {
      color: $primary-color;
    }
  }

  .glyphicon {
    color: $white;
    font-size: $font-xlarge;
    margin-left: $space-medium;
    margin-top: $space-msmall;
    opacity: .65;
  }
}

.video-thumbnail-info {
  margin: $space-small $space-tiny;
  min-height: 60px;
  padding: 0;
  width: 100%;
}

.video-thumbnail-title {
  font-size: $font-medium;
  font-weight: normal;
  margin: 0;
  padding: 0;
  width: 100%;

  a {
    font-size: $font-medium;
    margin: 0;
    padding: 0;
    width: 100%;

    &:hover {
      color: $primary-color;
    }
  }
}


.video-thumbnail-date {
  color: $carbon-grey;
  font-size: $font-small;
  margin: $space-small 0;
  padding: 0;  
}


.video-thumbnail-watched-ribbon {
  background: $green;
  border: 1px solid $carbon-grey;
  color: $silver-grey; 
  font-size: $font-small;
  letter-spacing: 1px;  
  line-height: $line-height-default;
  padding-left: $space-msmall;
  position: absolute;
  right: -50px; 
  text-align: center;
  top: 25px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 200px;
  z-index: $z-mid;  
}
