// Component - Video Filters

.video-filters {
  background-color: $light-grey;
  border: 0 none;
  border-bottom: 1px solid $pale-grey;
  border-top: 1px solid $pale-grey;
  margin: 0;
  padding: $space-medium 0;
  width: 100%;

  select {
    height: $form-element-height;
  }

}


// VIDEO FILTER SEARCH
.video-filters-search {
  background-color: $white;
  border: solid 1px $pale-grey;
  border-radius: 6px;
  padding: 0;
  width: 100%;

  input { 
    border: 0;
    box-shadow: none;
    font-size: $font-medsmall;
    height: $form-element-height;
    line-height: $line-height-medium;
    margin: 0;
    max-width: 98%;
    outline: 0 none;
    padding: 0 $space-tiny;

    &:focus {
      box-shadow: none;
      color: $dark-blue;
      outline: 0 none;
    }
  }

  button {    
    background: none;
    border: 0;
    border-left: solid 1px $pale-grey;
    box-shadow: none;    
    color: $slate-grey;
    height: 30px;
    margin: 0;
    padding: 2px $space-small;

    &:hover {
      border: 0;
      border-left: solid 1px $pale-grey;
      box-shadow: none;      
    }
  }

  i {
    color: $carbon-grey;
    font-size: $font-medium;
  }

  .btn-info:hover {
    background-color: transparent;

    > i {
      color: $dark-blue;
    }
  }
}


// FILTER KEYWORDS
.filter-keyword-label {
  color: $slate-grey;
  float: left;
  font-size: $font-small;
  margin: $space-medium 0 0;
  padding: $space-tiny $space-small $space-tiny $space-medium;

  &:hover {
    color: $primary-color;
    cursor: pointer;
    text-decoration: underline;
  }
}


.filter-keyword {
  background-color: $white;
  border: 1px solid $carbon-grey;
  border-radius: 10px;
  float: left;
  font-size: $font-small;
  margin: $space-medium $space-medium 0;
  padding: $space-tiny $space-small;

  .glyphicon {
    font-size: $space-small;
    font-weight: bold;
    margin-left: $space-small;
  }
}
  

.filter-keyword-remove:hover {
  border: 1px solid $primary-color;
  color: $primary-color;
  cursor: pointer;

  .glyphicon {
    color: $primary-color;
    cursor: pointer;
  }
}
