// Component - Video tabs

.video-tab-gallery {
  background-color: $white;
  margin: 0;
  padding: $space-large 0;
  width: 100%;

  a {
    color: $charcoal-grey;
    font-size: $space-medium;
  }
}


.nav-tabs {
  border: 0 none;
  margin: $space-small 0;

  > li {
    margin-right: $space-medium;

    &.active > a, 
    &.active > a:focus, 
    &.active > a:hover {
      background: none;
      border: 0 none;
      border-bottom: 3px solid $primary-color;
      color: $primary-color;
      cursor: default;      
    }

    a, 
    a:focus, 
    a:hover {
      background: none;
      border: 0 none; 
      padding: $space-small $space-medium;
    }
  }
}


.tab-content {
  margin: $space-large 0;
}
